.roll-appear {
  opacity: 0;
}

.roll-enter-done {
  transform: rotate(720deg) scale(1);
  opacity: 1;
  transition: transform 1000ms, opacity 1000ms;
}

.fade-appear {
  opacity: 0;
}

.fade-enter-done {
  opacity: 1;
  transition: transform 1000ms, opacity 1000ms;
}
