.container {
  position: relative;
}

.page {
  width: 94%;
  position: absolute;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;

  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;

}

.page-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.page-appear {
  opacity: 0;
}

.page-enter-done {
  opacity: 1;
  transition: transform 1000ms, opacity 1000ms;
}

.calc-bmi {
  display: none !important;
}
